nav.navbar {
    position: relative;
}

.navbar-toggler{
    margin-right: 10px;
}

#dropdownMenuButton {
    background-color: #343a40;
    border: none;
    margin-top: 3px;
    margin-left: 60px;
}

.dropdown-menu {
    margin-top: 8px;
    border-radius: 0;
    min-width: 100%;
}

.dropdown {
  position: absolute;
}
